<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="9765f906-64a8-4932-b791-eaed36735f68" 
           Name="OctoAwesome" 
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="OctoAwesome Community" 
           UpgradeCode="7d63b3a7-ead7-4af2-9727-40f0ffb4813d">
    <Package Id="*"
             Description="The OctoAwesome Game"
             Manufacturer="OctoAwesome Community"
             InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             InstallPrivileges="elevated"
             Keywords="Installer"/>

    <Media Id="1"
           Cabinet="contents.cab"
           EmbedCab="yes"
           CompressionLevel="high" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of OctoAwesome is already installed." />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="OctoAwesome" FileSource=".">
          <Component Id="OctoCoreBinaries" Guid="2716CB1F-275B-4BE8-9625-64A3C1DFBC67">
            <File Id="OctoClientEXE" Name="OctoClient.exe" KeyPath="yes">
              <Shortcut Id="startmenuOctoAwesome" Directory="ProgramMenuFolder" Name="OctoAwesome" WorkingDirectory="INSTALLFOLDER" Icon="OctoClient.exe" IconIndex="0" Advertise="yes" />
              <Shortcut Id="desktopOctoAwesome" Directory="DesktopFolder" Name="OctoAwesome" WorkingDirectory="INSTALLFOLDER" Icon="OctoClient.exe" IconIndex="0" Advertise="yes" />
            </File>
            <File Name="OctoClient.exe.config" />
            <File Name="OctoAwesome.dll" />
            <File Name="OctoAwesome.Runtime.dll" />
          </Component>
          <Component Id="OctoBasicsExtension" Guid="1C8DB637-DAD5-4C72-9A22-BC97B5ACFE31">
            <File Name="OctoAwesome.Basics.dll" />
          </Component>
          <Component Id="OctoDependencies" Guid="E5BAECAE-1A77-4F17-8386-4FA0E43F0302">
            <File Name="MonoGame.Framework.dll" />
            <File Name="MonoGameUi.dll" />
            <File Name="SharpDX.Direct2D1.dll" />
            <File Name="SharpDX.Direct3D9.dll" />
            <File Name="SharpDX.Direct3D11.dll" />
            <File Name="SharpDX.dll" />
            <File Name="SharpDX.DXGI.dll" />
            <File Name="SharpDX.MediaFoundation.dll" />
            <File Name="SharpDX.RawInput.dll" />
            <File Name="SharpDX.XAudio2.dll" />
            <File Name="SharpDX.XInput.dll" />
          </Component>
          <Directory Id="ContentFolder" Name="Content">
            <Component Id="OctoCoreContent"  Guid="4FA91450-EC8F-49F9-95AF-6D3BA3ED7927">
              <File Name="Hud.xnb" />
              <File Name="simple.xnb" />
              <File Name="HeadlineFont.xnb" />
              <File Name="GameFont.xnb" />
              <File Name="BoldFont.xnb" />
            </Component>
          </Directory>
          <Directory Id="GermanLangPack" Name="de">
            <Component Id="OctoCoreGermanLangPack" Guid="D2F4D929-394B-4D0B-AD0B-6C7F26FFD9F3">
              <File Name="OctoClient.resources.dll" />
            </Component>
            <Component Id="OctoBasicsExtensionGermanLangPack" Guid="FB1819D8-4016-45FC-AE56-07FDC0534F19">
              <File Name="OctoAwesome.Basics.resources.dll" />
            </Component>
          </Directory>
          <Directory Id="AssetsDir" Name="Assets">
            <Directory Id="OctoClientAssetsDir" Name="OctoAwesome.Client">
              <Component Id="OctoCoreAssets" Guid="220C821A-129A-4D74-8621-3FE4F9EA7DEE">
                <File Name="background.png" />
                <File Name="background_new.png" />
                <File Name="background_notext.png" />
                <File Name="compass.png" />
                <File Name="octocross.png" />
                <File Name="panel.png" />
                <File Name="sun.png" />
              </Component>
              <Directory Id="OctoCoreUIAssetsDir" Name="UI">
                <Component Id="OctoCoreUIAssets" Guid="49C7F7FD-B50F-4A58-ACC8-CCD67219DAEE">
                  <File Name="buttonLong_beige.png" />
                  <File Name="buttonLong_beige_pressed.png" />
                  <File Name="buttonLong_brown.png" />
                  <File Name="buttonLong_brown_pressed.png" />
                  <File Name="buttonLong_grey.png" />
                  <File Name="buttonLong_grey_pressed.png" />
                </Component>
              </Directory>
              <Directory Id="OctoCoreCrewAssetsDir" Name="Crew">
                <Component Id="OctoCoreCrewAssets" Guid="874B854D-CE70-429F-9074-E8634AC11BA3">
                  <File Name="crew.xml" />
                  <File Name="base.png" />
                  <File Name="bobstriker.png" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="OctoBasicsAssetsDir" Name="OctoAwesome.Basics">
              <Directory Id="OctoBasicsBlockAssetsDir" Name="Blocks">
                <Component Id="OctoBasicsBlockAssets" Guid="2817A4C6-1DB8-484A-8B4D-74A70D18A676">
                  <File Name="birch_wood_side.png" />
                  <File Name="birch_wood_top.png" />
                  <File Name="brick_grey.png" />
                  <File Name="brick_red.png" />
                  <File Name="cotton_blue.png" />
                  <File Name="cotton_green.png" />
                  <File Name="cotton_red.png" />
                  <File Name="cotton_tan.png" />
                  <File Name="dirt.png" />
                  <File Name="dirt_grass.png" />
                  <File Name="dirt_snow.png" />
                  <File Name="grass_top.png" />
                  <File Name="gravel.png" />
                  <File Name="greystone.png" />
                  <File Name="ice.png" />
                  <File Name="leaves.png" />
                  <File Name="leaves_orange.png" />
                  <File Name="planks.png" />
                  <File Name="planks_red.png" />
                  <File Name="redstone.png" />
                  <File Name="sand.png" />
                  <File Name="snow.png" />
                  <File Name="stone.png" />
                  <File Name="water.png" />
                  <File Name="wood_side.png" />
                  <File Name="wood_top.png" />
                </Component>
              </Directory>
              <Directory Id="OctoBasicsItemAssetsDir" Name="Items">
                <Component Id="OctoBasicsItemAssets" Guid="136EAC19-B1B2-4282-9FFB-562A78FC0B6C">
                  <File Name="pick_iron.png" />
                </Component>
              </Directory>
              <Directory Id="OctoBasicsEntityAssetsDir" Name="Entities">
                <Component Id="OctoBasicsEntityAssets" Guid="5D0B4586-91EE-4426-8D78-DDEBCDBA5ED9">
                  <File Name="dog.png" />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Component Id="ProgramMenuFolder" Guid="A54524BE-BCF5-4912-8BDD-484C1874ABF8">
          <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
          <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
        </Component>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id="Complete" Title="OctoAwesome" Description="The complete package." Display="expand" Level="1" AllowAdvertise="no">
      <Feature Id="OctoCore" Title="Core Excetutables" Description="Files that are needed to run." Level="1" AllowAdvertise="no" Absent="disallow">
        <ComponentRef Id="OctoCoreBinaries" />
        <ComponentRef Id="OctoDependencies" />
        <ComponentRef Id="OctoCoreContent" />
        <ComponentRef Id="OctoCoreAssets" />
        <ComponentRef Id="OctoCoreUIAssets" />
        <ComponentRef Id="OctoCoreCrewAssets" />
        <ComponentRef Id="OctoCoreGermanLangPack" />
        <ComponentRef Id="ProgramMenuFolder" />
      </Feature>

      <Feature Id="OctoBasics" Title="Basics Extension" Description="Some basic Blocks etc." Level="1" AllowAdvertise="no" Absent="disallow">
        <ComponentRef Id="OctoBasicsExtension" />
        <ComponentRef Id="OctoBasicsExtensionGermanLangPack" />
        <ComponentRef Id="OctoBasicsBlockAssets" />
        <ComponentRef Id="OctoBasicsItemAssets" />
        <ComponentRef Id="OctoBasicsEntityAssets" />
      </Feature>
    </Feature>

    <UI>
      <Property Id="DefaultUIFont">DlgFont14</Property>

      <Dialog Id="InstallDialog" Width="708" Height="400" Title="[ProductName] Setup" NoMinimize="yes">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="708" Height="400" TabSkip="no" Text="bannrbmp" />
        <Control Id="Install" Type="PushButton" X="254" Y="160" Width="200" Height="30" Default="yes" Text="Install" ElevationShield="yes">
          <Publish Event="NewDialog" Value="ProgressDialog" />
        </Control>
        <Control Id="Cancel" Type="PushButton" X="254" Y="210" Width="200" Height="30" Default="yes" Text="Cancel" Cancel="yes">
          <Publish Event="EndDialog" Value="Exit">1</Publish>
        </Control>
      </Dialog>

      <Dialog Id="ProgressDialog" Width="708" Height="400" Title="[ProductName] Setup" Modeless="yes">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="708" Height="400" TabSkip="no" Text="bannrbmp" />
        <Control Id="ProgressBar" Type="ProgressBar" X="104" Y="190" Width="500" Height="20" ProgressBlocks="yes" Text="Progress done">
          <Subscribe Event="SetProgress" Attribute="Progress" />
        </Control>
      </Dialog>

      <Dialog Id="ExitDlg" Width="708" Height="400" Title="[ProductName] Setup" NoMinimize="yes">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="708" Height="400" TabSkip="no" Text="bannrbmp" />
        <Control Id="Finish" Type="PushButton" X="254" Y="185" Width="200" Height="30" Default="yes" Cancel="yes" Text="Finish">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
      </Dialog>
      
      <TextStyle Id="DlgFont14" FaceName="Tahoma" Size="14" />
      <Binary Id="bannrbmp" SourceFile="background.bmp" />

      <InstallUISequence>
        <Show Dialog="InstallDialog" After="CostFinalize" />
        <Show Dialog="ExitDlg" OnExit="success" />
      </InstallUISequence>      
    </UI>
    
    <Icon Id="OctoClient.exe" SourceFile="OctoClient.exe" />
  </Product>
</Wix>